<!-- <form [formGroup]="createKnowledgeBase">
  <div class="form-body">
    <div class="card-body">
      <div class="row p-t-20">
        <!-- <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">ProjectId</label>
            <input class="form-control" type="text" required formControlName="ProjectId" />
          </div>
        </div> -->
        <!-- <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Display Name</label>
            <input required class="form-control" formControlName="displayName"  type="text" />
          </div>
        </div>
      </div>
      <br />
      <br />
      <div class="action-form">
        <div class="form-group m-b-0 text-center">
          <button  name="button" name="submit" (click)="createKb()"  [disabled]="createKnowledgeBase.invalid">Submit</button>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        </div>
      </div>
    </div>
  </div>
</form> --> -->
